# Dependencies
node_modules
/node_modules

# testing
/coverage

# misc
.DS_Store
.vscode/
bytes.json
currentproofs.txt

# logs
npm-debug.log*
yarn-error.log*
yarn-debug.log*


#
dist/



#Hardhat files
cache
artifacts
coverage
.env
coverage.json
gasReporterOutput.json
inputTuple.json
metadata.json
./gasReporterOutput.json
gasreporteroutput.json
artists.json
metadata.json
types
./types/typechain
/types
./bin
/bin
./bin/contracts/
./bin/contracts
/bin/contracts
.openzeppelin/


gasReporterOutput.json
inputmetadata2.json
inputmetadata2.json
poo.txt
